<!-- ======= GLOBAL META & CSS ======= -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Captain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/css/themify-icons.css">
<link rel="stylesheet" href="/assets/css/meanmenu.css">
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/slick.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<header class="header-area">
    <div class="container-fluid top-fixed-nav d-flex justify-content-between align-items-center">

        <!-- LEFT SIDE -->
        <ul class="navbar-nav d-flex flex-row gap-3">
            <li class="nav-item">
                <a class="nav-link" href="#">English <i class="fa fa-chevron-down"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ this.country.md_name }}
                    <i class="fa fa-chevron-down"></i>
                </a>
            </li>
        </ul>

        <!-- RIGHT SIDE -->
        <ul class="navbar-nav d-flex flex-row ms-auto gap-3">
            <li class="nav-item"><a class="nav-link" routerLink="/myorders">My Orders</a></li>
            <li class="nav-item"><a class="nav-link" (click)="navigateTo('favourites')">Favourites</a></li>
            <li class="nav-item"><a class="nav-link" (click)="navigateTo('my-cart')">My Cart</a></li>

            <ng-container *ngIf="isLoggedIn; else guestLinks">
                <li class="nav-item"><a class="nav-link">Hi, {{ currentUser.u_name }}</a></li>

                <li class="nav-item" *ngIf="currentUser.u_is_admin == 'Y'">
                    <a class="nav-link" href="#/dashboard">Console</a>
                </li>

                <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
            </ng-container>

            <ng-template #guestLinks>
                <li class="nav-item"><a class="nav-link" routerLink="/user-registration">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            </ng-template>
        </ul>

    </div>
</header>

<!-- ================= HEADER ================= -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top glass-nav">
        <div class="container-fluid">
            <img src="./assets/img/logo/logo_black.png" alt="Logo" style="height: 60px; margin: 10px;">
            <!-- Toggle -->
            <button class="navbar-toggler" type="button" (click)="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Desktop Menu -->
            <div class="collapse navbar-collapse" [class.show]="menuVisible">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('web-home')">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('shop')">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('features')">Features</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('blogs')">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('contact-us')">Contact Us</a>
                </ul>

            </div>
        </div>
    </nav>
</header>