<!-- ======= GLOBAL META & CSS ======= -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Captain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/css/themify-icons.css">
<link rel="stylesheet" href="/assets/css/meanmenu.css">
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/slick.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/responsive.css">
<header class="header-area" >
    <div class="container-fluid top-fixed-nav d-flex justify-content-between align-items-center">

        <!-- LEFT SIDE -->
        <ul class="navbar-nav flex-row gap-2 gap-md-3 d-none d-md-flex mb-0">
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 13px;">English <i class="fa fa-chevron-down ms-1" style="font-size: 10px;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 13px;">{{ this.country.md_name }}
                    <i class="fa fa-chevron-down ms-1" style="font-size: 10px;"></i>
                </a>
            </li>
        </ul>

        <!-- RIGHT SIDE -->
        <ul class="navbar-nav d-flex flex-row ms-auto gap-3 gap-md-4 mb-0 flex-nowrap" style="overflow-x: auto; -webkit-overflow-scrolling: touch; padding-bottom: 2px;">
            <ng-container *ngIf="isLoggedIn; else guestLinks">
                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" routerLink="/myorders"><i class="fa fa-shopping-bag me-1"></i> Orders</a></li>
                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" (click)="navigateTo('favourites')"><i class="fa fa-heart me-1 text-danger"></i> Favourites</a></li>
                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" (click)="navigateTo('my-cart')"><i class="fa fa-shopping-cart me-1"></i> Cart</a></li>
                
                <!-- Hidden on tiny mobile screens to save space -->
                <li class="nav-item d-none d-sm-block text-white">
                    <a class="nav-link text-light opacity-75" style="font-size: 13px; cursor: default;"><i class="fa fa-user-circle me-1"></i> Hi, {{ currentUser.u_name }}</a>
                </li>

                <!-- Hidden on small screens to save space -->
                <li class="nav-item d-none d-md-block text-white" *ngIf="currentUser.u_is_admin == 'Y'">
                    <a class="nav-link text-warning fw-bold" style="font-size: 13px; cursor: pointer;" href="#/dashboard"><i class="fa fa-cogs me-1"></i> Console</a>
                </li>

                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out me-1"></i> Logout</a></li>
            </ng-container>

            <ng-template #guestLinks>
                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" routerLink="/user-registration"><i class="fa fa-user-plus me-1"></i> Sign Up</a></li>
                <li class="nav-item"><a class="nav-link text-white" style="font-size: 13px; cursor: pointer;" routerLink="/login"><i class="fa fa-sign-in me-1"></i> Login</a></li>
            </ng-template>
        </ul>

    </div>
</header>

<!-- ================= HEADER ================= -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top glass-nav">
        <div class="container-fluid">
            <img src="./assets/img/logo/logo_black.png" alt="Logo" style="height: 60px; margin: 10px;">
            <!-- Toggle -->
            <button class="navbar-toggler" type="button" (click)="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Desktop Menu -->
            <div class="collapse navbar-collapse" [class.show]="menuVisible">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('web-home')">Home</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('shop')">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('features')">Features</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('blog')">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('contact-us')">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="navigateTo('about-us')">About Us</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>