 .order-card {
    transition: all 0.3s ease;
    cursor: pointer;
    border-color: #000;
 
  }

  .order-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .pagination {
    justify-content: center;
  }


  .order-card {
  font-size: 15px;
  background: #ffffff;
}

.product-img {
  max-height: 140px;
  object-fit: contain;
}

.label {
  font-size: 13px;
  color: #6c757d;
}

.value {
  font-size: 18px;
  font-weight: 600;
}

.card-title {
  font-size: 20px;
}

@media (max-width: 768px) {
  .product-img {
    max-height: 110px;
  }
  .value {
    font-size: 16px;
  }
}