<div class="container-fluid my-4 mt-4" style="min-height: 80vh;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light px-3 py-2 rounded">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Blogs
      </li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let order of pagedOrders">
        <div class="card order-card shadow-sm border-0 rounded-3 mb-4 p-2" (click)="orderDetails(order.co_id)">

          <div class="row g-3 align-items-center">

            <!-- IMAGE -->
            <div class="col-md-3 text-center">
              <img *ngFor="let p_attachement of getAttachementOfaProduct(order.p_attachements).slice(0,1); let i=index"
                [src]="apiUrl + '/' + p_attachement.pa_image_path" class="product-img img-fluid rounded"
                alt="product_image">
            </div>

            <!-- TEXT -->
            <div class="col-md-9 p-3">

              <div class="d-flex justify-content-between flex-wrap mb-2">
                <h5 class="fw-bold mb-1">Order #{{ order.co_id }}</h5>
                <span class="badge bg-dark fs-6 px-3 py-2">
                  {{ order.co_status_name }}
                </span>
              </div>

              <p class="text-muted fs-6 mb-2">
                <i class="bi bi-geo-alt"></i>
                {{ order.co_c_address_details }}
              </p>

              <div class="row text-center text-md-start">

                <div class="col-md-4 mb-2 d-flex gap-2">
                  <b>Quantity :</b> <span>{{ order.co_qty }}</span>
                </div>

                <div class="col-md-4 mb-2 d-flex gap-2">
                  <b>Amount :</b>
                  <span class="text-success">₹ {{ order.co_net_amount | number:'1.2-2' }}</span>
                </div>

                <div class="col-md-4 mb-2 d-flex justify-content-md-end gap-2">
                  <b>Date :</b>
                  <span>{{ order.co_cre_date | date:'mediumDate' }}</span>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

      <!-- Pagination -->
      <nav>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
          </li>

          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>