<div id="myCarousel" class="carousel slide carousel-fade mt-3" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li *ngFor="let s of sliders; let i = index" [attr.data-target]="'#myCarousel'" [attr.data-slide-to]="i"
            [class.active]="i === 0">
        </li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div *ngFor="let s of sliders; let i = index" class="carousel-item" [class.active]="i === 0">

            <img class="d-block w-100" [src]="this.attachmentUrl+s.s_image_url" alt="Slide {{ i + 1 }}">
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<!-- Product area start -->
<br />
<div class="product-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-wrapper text-center mb-35">
                    <h2 class="section-title"><a href="blog.html">Explore Our Sports Gear</a></h2>
                    <p>Discover top-quality sports equipment, apparel, and accessories designed to enhance your
                        performance.<br>
                        Gear up for success with the best from our collection.</p>
                </div>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                    <!--<mat-tab label="Shoes">
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="product">
                                <div class="product__thumb">
                                    
                                    <a href="single-product">
                                        <img class="product-primary" src="./assets/img/product/3.jpg"
                                            alt="product_image" style="height: 150px; width: auto;">
                                        <img class="product-secondary" src="./assets/img/product/3-2.jpg"
                                            alt="product_image" style="height: 150px; width: auto;">
                                    </a>
                                    <div class="product__update">
                                        <a class="#">new</a>
                                    </div>
                                    <div class="product-info mb-10">
                                        <div class="product_category">
                                            <span>Shoes, Clothing</span>
                                        </div>
                                        <div class="product_rating">
                                            <a href="#"><i class="fa fa-star start-color"></i></a>
                                            <a href="#"><i class="fa fa-star start-color"></i></a>
                                            <a href="#"><i class="fa fa-star start-color"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__name">
                                        <h4><a href="shop.html">Lotto Professional Sports</a></h4>
                                        <div class="pro-price">
                                            <p class="p-absoulute pr-1"><span>$</span>80.00 - <span>$</span>60.00</p>
                                            <a class="p-absoulute pr-2" href="#">add to cart</a>
                                        </div>
                                    </div>
                                    <div class="product__action">
                                        <div class="inner__action">
                                            <div class="wishlist">
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                            </div>
                                            <div class="view">
                                                <a href="javascript:void(0)"><i class="fa fa-eye"></i></a>
                                            </div>
                                            <div class="layer">
                                                <a href="#"><i class="fa fa-clone"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </mat-tab> -->
                    <mat-tab *ngFor="let category of categories" [label]="category.ct_name">
                        <hr/>
                        <div class="container-fluid">
                            <div class="row">
                                <div *ngFor="let product of getProductsByCategory(category.ct_id)"
                                    class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="product">
                                        <div class="product__thumb">
                                            <a>

                                                <img *ngFor="let p_attachement of getAttachementOfaProduct(product.p_attachements).slice(0, 2); let i = index"
                                                    [ngClass]="i === 0 ? 'product-primary' : 'product-secondary'"
                                                    [src]="apiUrl + '/' + p_attachement.pa_image_path"
                                                    alt="product_image" style="height: 300px; width: auto;">

                                            </a>
                                            <!--<div class="product__update">
                                        <a class="#">new</a>
                                    </div> -->
                                            <div class="product-info mb-10">
                                                <div class="product_category">
                                                    <span>{{ product.p_sub_category_name + ', ' +
                                                        product.p_division_name }}</span>
                                                </div>
                                                <div class="product_rating">
                                                    <a href="#"><i class="fa fa-star start-color"></i></a>
                                                    <a href="#"><i class="fa fa-star start-color"></i></a>
                                                    <a href="#"><i class="fa fa-star start-color"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                            <div class="product__name">
                                                <h4><a href="shop.html">{{product.p_name}}</a></h4>
                                                <div class="pro-price" *ngIf="product.p_price>=0">
                                                    <p class="p-absoulute pr-1"><span>&#x20B9;</span> {{
                                                        product.p_price}}</p>
                                                    <a class="p-absoulute pr-2" (click)="navigateToProduct(product.p_id)">View</a>
                                                </div>
                                            </div>
                                            <div class="product__action">
                                                <div class="inner__action">
                                                    <div class="wishlist">
                                                        <a href="#"><i class="fa fa-heart"></i></a>
                                                    </div>
                                                    <div class="view">
                                                        <a (click)="navigateToProduct(product.p_id)"><i
                                                                class="fa fa-eye"></i></a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
                <br/>
            </div>
        </div>

    </div>
</div>

<!-- product show case area start  -->
<div class="show-case lightblue pt-125">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="section-wrapper text-center mb-35">
                    <h4 class="sub-title">Bestseller products</h4>
                    <h2 class="section-title text-white">Stride Sports And Casual Shoes Sneakers For Men</h2>
                    <p class="d-none d-lg-block">Experience comfort and performance with the Captain Stride Sports
                        Shoes. Designed with breathable mesh fabric, cushioned EVA midsole, and durable rubber outsole,
                        these shoes deliver excellent grip, flexibility, and long-lasting comfort. Ideal for running,
                        walking, gym training, and casual daily wear.
                        <br> eget maecenas sed urna malesuada.
                    </p>
                </div>
            </div>
            <div class="case-info text-center">
                <span class="offer-text d-none d-lg-block">hot deal<i class="far fa-stars"></i></span>
                <h2 class="back1-text d-none d-lg-block">top</h2>
                <h2 class="back-text d-none d-lg-block">limited</h2>
                <a href="shop.html"><img class="banar-product" src="./assets/img/product/product4.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<h2 class="  divider gradient" contenteditable>Blogs</h2>
<div class="blog-area mb-5">
    <div class="container mt-3">
        <div class="row">


            <!-- FEATURED BLOG -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">

                    <img [src]="attachmentUrl + latestBlog.b_image_url" class="card-img-top"
                        style="height:420px; object-fit:cover;" alt="blog">

                    <div class="card-body">
                        <span class="badge badge-secondary mb-2">Blog</span>

                        <h4 class="font-weight-bold">
                            <a (click)="navigateToBlog(latestBlog.b_id)">
                                {{ latestBlog.b_title }}
                            </a>
                        </h4>

                        <p class="text-muted small mb-2">
                            By Admin · {{ latestBlog.b_cre_date | date:'MMMM dd, yyyy' }}
                        </p>

                        <a class="font-weight-bold" (click)="navigateToBlog(latestBlog.b_id)">
                            Continue reading →
                        </a>
                    </div>

                </div>
            </div>

            <!-- OTHER BLOGS -->
            <div class="col-lg-6">

                <div class="media mb-4 align-items-start" *ngFor="let blog of blogs.slice(1,4)">

                    <img [src]="attachmentUrl + blog.b_image_url" class="mr-3 rounded" width="120" height="90"
                        style="object-fit:cover;" alt="blog">

                    <div class="media-body">
                        <span class="badge badge-light mb-1">Blog</span>

                        <h5 class="mt-0 font-weight-bold">
                            <a (click)="navigateToBlog(blog.b_id)">
                                {{ blog.b_title }}
                            </a>
                        </h5>

                        <p class="text-muted small mb-1">
                            By Admin · {{ blog.b_cre_date | date:'MMMM dd, yyyy' }}
                        </p>

                        <p class="mb-0 text-truncate" *ngIf="blog.b_description as desc">
                            {{ desc | slice:0:50 }}<span *ngIf="desc.length > 50">...</span>
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>