<div class="right_col" masterData="main" style="min-height: 99vh;">
  <div class="x_panel">
    <div class="x_title d-flex justify-content-between align-items-center py-3">
      <div class="d-flex align-items-center gap-4">
        <button class="btn-create shadow-sm" (click)="createMasterData()">
          <i class="fa fa-plus-circle"></i> Create
        </button>
        <div style="width: 280px;">
          <select appSelect2 #masterTypeSelect id="masterTypeSelect" class="form-control" 
                  [(ngModel)]="masterType" name="masterType"
                  placeholder="Filter by data type..."
                  (selectionChanged)="onOptionChange($event);">
            <option *ngFor="let mt of masterTypes" [value]="mt.type">{{ mt.name }}</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-12">
          <ag-grid-angular
            #masterGrid
            style="width: 100%; height: 75vh;"
            class="ag-theme-quartz ag-theme-acmecorp"
            [rowData]="masterDatas"
            [columnDefs]="colDefs"
            [pagination]="pagination"
            [defaultColDef]="defaultColDef"
            [components]="frameworkComponents"
            [domLayout]="domLayout"
            (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal.component.html -->

<div class="modal fade" id="masterDataFormModal" tabindex="-1" masterData="dialog"
  aria-labelledby="masterDataFormModalLabel" aria-hidden="true">
  <div class="modal-dialog" masterData="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="masterDataFormModalLabel">{{ masterData.md_id ? 'Update Master Data' : 'Create
          Master Data' }}</h5>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="form-group">
            <label for="md_name">Name</label>
            <input type="text" id="md_name" class="form-control" [(ngModel)]="masterData.md_name" name="md_name"
              required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !masterData.md_name">
              Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="md_type">Type</label>
            <input type="text" id="md_type" class="form-control" [(ngModel)]="masterData.md_type" name="md_type"
              required>
            <div class="invalid-feedback" *ngIf="userForm.submitted && !masterData.md_type">
              Type is required
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" (click)="createOrUpdateMasterData()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>