.progress span {
  margin-right: 10px;
  font-weight: bold;
}

/* PRODUCT CARD */
.product {
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.product:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* THUMBNAILS */
.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
}

.thumb-img {
  width: 100%;
  max-width: 70px;
  margin: 4px;
  height: auto;
}

/* MOBILE */
@media (max-width: 576px) {
  .thumb-img {
    max-width: 50px;
    margin: 2px;
  }

  .thumbnail-wrapper {
    flex-direction: row;
    gap: 6px;
    overflow-x: auto;
  }
}

.zoom-img.zoomed {
  transform: scale(2); /* Set zoom scale */
}