<div class="right_col" style="min-height: 99vh;">
    <div class="x_panel">
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select appSelect2 #status id="status" class="form-control" name="status" required
                            (selectionChanged)="onCustomerOrderStatusChange($event);">
                            <option [value]="0">Select Status</option>
                            <option *ngFor="let cos of customerOrderStatuses" [value]="cos.cos_id">{{ cos.cos_name }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <ag-grid-angular #customerOrderGrid class="ag-theme-quartz ag-theme-acmecorp" style=" width: 100%;"
                        [rowData]="customerOrders" [columnDefs]="colDefs" [pagination]="pagination"
                        [defaultColDef]="defaultColDef" [enableCellTextSelection]="true"
                        [components]="frameworkComponents" [paginationPageSize]="paginationPageSize10"
                        [domLayout]="domLayout" [paginationPageSizeSelector]="paginationPageSizeSelector10"
                        (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="customerOrderDetailModal" customer="dialog" aria-labelledby="customerOrderDetailModal"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" customer="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerFormModalLabel">Customer Order Details</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="card  order-card  border-0 rounded-3 mb-4 p-3 ">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-9 p-3">

                                            <h5 class="fw-bold mb -1">Order Number : {{ customerOrder.co_id }}
                                            </h5>
                                            <h1 class="fw-bold mb -1"> {{ customerOrder.p_name}} </h1>
                                            <h1 class="fw-bold mb -1"><span>&#x20B9;</span> {{
                                                customerOrder.co_amount }}</h1>


                                        </div>
                                        <div class="col-md-3 text-center">
                                            <!--   <img *ngFor="let p_attachement of getAttachementOfaProduct(customerOrder.p_attachements).slice(0,1); let i=index"
                                                        [src]="apiUrl + '/' + p_attachement.pa_image_path"
                                                        class="product-img img-fluid rounded" style="height:250px;"
                                                        alt="product_image"> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 p-3">
                                            <h4 class="fw-bold mb -1">Quantity : {{ customerOrder.co_qty }}</h4>
                                        </div>
                                    </div>

                                    <div class="g-3 align-items-center">
                                        <div class="col-md-12">
                                            <div class="position-relative ps-4">
                                                <div class="order-box">
                                                    <h2 class="fw-bold text-center">Order Status</h2>
                                                    <hr />
                                                    <ul class="tracker">
                                                        <li *ngFor="let omh of orderMovementHistories"
                                                            [ngClass]="{'done': omh.omh_cre_date}">

                                                            <b>{{ omh.omh_status_name }}</b>
                                                            <span>
                                                                {{ omh.omh_cre_date
                                                                ? (omh.omh_cre_date | date:'dd:MM:yyyy hh:mm:ss a')
                                                                : 'Pending' }}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="card  order-card  border-0 rounded-3 mb-4 p-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="fw-bold mb -1 text-center">Delivery Details</h2>
                                            <hr />
                                            <h4 class="mb -1"><i class="fa fa-home"></i> {{
                                                customerOrder.co_c_address_details }}</h4>
                                            <h4 class="mb -1"><i class="fa fa-user"></i> {{
                                                customerOrder.co_customer_name }} </h4>
                                            <h4 class="mb -1"><i class="fa fa-phone"></i> {{
                                                customerOrder.co_customer_phone }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card  order-card  border-0 rounded-3 mb-4 p-3">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <h2 class="fw-bold mb -1 text-center">Payment Details</h2>
                                            <hr />
                                            <h4 class="mb -1"><i class="fa fa-address-book"></i> Total Amount
                                                :<span>&#x20B9;</span> {{
                                                customerOrder.co_amount }}</h4>
                                            <h4 class="mb -1"><i class="fa fa-address-book"></i> Total Amount
                                                :<span>&#x20B9;</span> {{
                                                customerOrder.co_amount }}</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <p>Return policy ended on Jan 01, 2024. For more details, please contact our support
                                    team.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StatusChangeModal" customer="dialog" aria-labelledby="customerOrderDetailModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" customer="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Status</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="status">New Status</label>
                            <select appSelect2 #status id="status" class="form-control" name="status" required
                                (selectionChanged)="onNewStatusChange($event);">
                                <option [value]="0">Select Status</option>
                                <option *ngFor="let cos of customerOrderStatuses" [value]="cos.cos_id">{{ cos.cos_name
                                    }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-success" (click)="updateStatusForCustomerOrder()">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>